.comment {
  margin-top: 1.5rem;
  display: flex;
  /*coloca o avatar e comentario lado a lado*/
  gap: 1rem;
}

.comment>img {
  /*pega só a primeira imagem*/
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox {
  flex: 1;
  /*ocupa o maximo de largura apos o avatar*/
}

.commentContent {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;
  line-height: 0;
  /*serve para limitar a borda em torno do botao*/
  border-radius: 2px;
}

.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  display: flex;
  align-items: center; /*faz com que o icone e o texto fiquem da mesma altura*/

  border-radius: 2px;
}

.commentBox footer button:hover {
  color: var(--green-300);
}

.commentBox footer button svg { /*todos os icones vem em svg, assim consigo acessar*/
  margin-right: 0.5rem;
}

.commentBox footer button span::before { /*nao aplicano span e sim no elemento antes*/
  content: "\2022"; /*isso representa o ponto, logo antes do numero*/
  padding: 0 0.25rem;
}